<div class="container">
  <p></p>
  <h1>Lists#index</h1>
  <p>Find me in app/views/lists/index.html.erb</p>

<ul>
  <% @lists.each do |list| %>
  <li>
    <%= link_to list.name, list_path(list) %>
    <%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>
  <p></p>
  <%= link_to "create a new list", new_list_path %>
</div>
